<h1>老爸的私房錢</h1>
<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    類別
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<a href="./records/new">新增支出</a>
<ul>
  {{#each records}}
  <div class='container'>
    <div class='row fas {{this.image}}'>
      <div>
        {{this.category}}
        {{this.name}}
        {{this.date}}
        {{this.amount}}
      </div>
      <div>
        <a href="./records/{{this._id}}/edit">修改</a>
        <a href="./records/{{this._id}}/delete">刪除</a>
      </div>

    </div>
  </div>
  {{/each}}
</ul>