<div class='container'>

  <div class="row my-1">
    <form class="mb-2 col-12" action="/sort">
      <div class="row filter">
        <div class='input-group col-6 category'>
          <div class="input-group-prepend">
            <label class="input-group-text bg-secondary text-light">
              <i class="fas fa-filter"></i>
            </label>
          </div>
          <select class="custom-select py-1 font-weight-bolder" name="category" onchange="submit()">
            <option selected value="全部支出">全部支出</option>
            <option value="家居物業" {{#if category0}} selected {{/if}}>家居物業</option>
            <option value="交通出行" {{#if category1}} selected {{/if}}>交通出行</option>
            <option value="休閒娛樂" {{#if category2}} selected {{/if}}>休閒娛樂</option>
            <option value="餐飲食品" {{#if category3}} selected {{/if}}>餐飲食品</option>
            <option value="其他" {{#if category4}} selected {{/if}}>其他</option>
          </select>
        </div>

        <div class='input-group col-6 month'>
          <div class="input-group-prepend">
            <label class="input-group-text bg-secondary text-light">
              <i class="far fa-calendar-alt"></i>
            </label>
          </div>
          <select class="custom-select py-1 font-weight-bolder" name="month" onchange="submit()">
            <option selected value="月份">月份</option>
            <option value="0" {{#if month0}} selected {{/if}}>一月</option>
            <option value="1" {{#if month1}} selected {{/if}}>二月</option>
            <option value="2" {{#if month2}} selected {{/if}}>三月</option>
            <option value="3" {{#if month3}} selected {{/if}}>四月</option>
            <option value="4" {{#if month4}} selected {{/if}}>五月</option>
            <option value="5" {{#if month5}} selected {{/if}}>六月</option>
            <option value="6" {{#if month6}} selected {{/if}}>七月</option>
            <option value="7" {{#if month7}} selected {{/if}}>八月</option>
            <option value="8" {{#if month8}} selected {{/if}}>九月</option>
            <option value="9" {{#if month9}} selected {{/if}}>十月</option>
            <option value="10" {{#if month10}} selected {{/if}}>十一月</option>
            <option value="11" {{#if month11}} selected {{/if}}>十二月</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="row my-1">
    <div class="col-2 ">
      <h6 class="mx-auto">總金額:</h6>
    </div>
    <div class="col-auto mr-auto">
      <h1 class="mx-auto text-danger">{{totalAmount}}</h1>
    </div>
  </div>

  <ui class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-2 px-2 bg-light">
          <h3 class='mt-1 fas {{this.image}} text-info'></h3>
        </div>
        <div class="col-4 px-2 bg-light">
          <div class="row">
            <div class="col-12">
              <div class="font-weight-bold">{{this.name}}</div>
            </div>
            <div class="col-12">
              {{this.date}}
            </div>
          </div>
        </div>
        <div class="col-2 bg-light  d-flex align-items-center">
          店名:<br>
          {{this.merchant}}
        </div>
        <div class="col-2 bg-light  d-flex align-items-center">
          金額:<br>
          {{this.amount}}
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <a class="p-2 mx-1 badge badge-light text-primary" href="/records/{{this._id}}/edit"><i
              class="fas fa-edit"></i></a>
          <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline"
            onsubmit="return confirm('確定要刪除這筆支出嗎？')">
            <button class="btn p-2 mx-1 badge btn-light text-danger" type="submit"><i
                class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    </li>

    {{/each}}
  </ui>

  <div class="row my-3 ">
    <div class="col-auto mx-auto">
      <a class='btn btn-warning mx-auto border-dark text-muted px-4 font-weight-bold' href="/records/new">新增支出</a>
    </div>
  </div>
</div>